---
import './src/styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-100">
		<h1 class="text-4xl font-bold text-blue-600 m-4">Astro</h1>
		<p class="text-gray-700 p-4">This is a test</p>
	</body>
</html>
