---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { SEO } from 'astro-seo';
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
	image?: string;
	canonicalURL?: string;
}

const { 
	title,
	description = "Avalon Disc Golfers - Growing the sport of disc golf in the Avalon Peninsula",
	image = "/adg-logo.jpg",
	canonicalURL = Astro.url.href,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<SEO
			title={title}
			description={description}
			canonical={canonicalURL}
			openGraph={{
				basic: {
					title,
					type: "website",
					image,
					url: canonicalURL,
				},
				image: {
					alt: "Avalon Disc Golfers Logo",
				},
				optional: {
					description,
					siteName: "Avalon Disc Golfers",
				},
			}}
			twitter={{
				card: "summary_large_image",
				title,
				description,
				image,
			}}
		/>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="min-h-screen flex flex-col">
		<Navigation />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	
	html {
		font-family: system-ui, sans-serif;
		background: #f6f6f6;
		background-size: 224px;
	}

	main {
		max-width: 1200px;
		margin: 0 auto;
		padding: 1rem;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style> 